/*Mobile first*/

.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 1em;
    width: 100%;
    height: 50px;
    min-width: 250px;
    // backdrop-filter: blur(5px);
    background-color: #1b1b1b;
    // box-shadow: 1px 1px 6px -2px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.header__icon {
    min-width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.header__logo {
    width: 40px;
    height: 40px;
    cursor: pointer;
    pointer-events: none;
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Opera */
}

.nav {
    display: none;

    @media screen and (min-width: 720px) {
        display: block;
    }
}

.menu {
    display: flex;
    gap: 2em;
}

.menu__link {
    position: relative;
    cursor: pointer;
    color: var(--white-bg);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
    padding-bottom: 0.4em;
    transition: color 0.2s ease;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #fff;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.1s ease;
    }

    &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }
}

.menu__link--active::after {
    transform: scaleX(1);
}

.menu__link--active::after {
    opacity: 1;
}

.header__hamburguer {
    width: 40px;
    height: 40px;
    cursor: pointer;
    pointer-events: none;
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Opera */
    @media screen and (min-width: 720px) {
        display: none;
    }
}
