<div class="more-menu" [ngClass]="{'more-menu--active': isMoreMenuOpen}">
    <div class="overlay overlay--active"></div>
    <div class="card">
        <img src="../assets/icons/header/x.svg" draggable="false" loading="lazy" alt="" class="card__x"
            (click)="onCloseMoreMenu()">
        <div class="card__header">
            <h2 class="card__title">{{menuContent?.title}}</h2>
            <p class="card__subtitle">{{menuContent?.subtitle}}</p>
        </div>
        <div class="card__body">
            <div class="card__image">
                <img *ngIf="menuContent?.img != null" [src]="menuContent?.img" alt="imgage" class="card__img"
                    draggable="false" loading="lazy">
            </div>
            <div class="card__texts">
                <p class="card__text">{{menuContent?.text}}</p>
            </div>
        </div>
        <div class="card__buttons">
            <button class="card__button card__button--close" *ngIf="menuContent?.showClose"
                (click)="onCloseMoreMenu()">CERRAR</button>
        </div>
    </div>
</div>