<!-- <section class="services box" id="services">
    <div class="services__titles">
        <h1 class="services__title">
            MIS SERVICIOS
            <span class="services__title services__title--dot">.</span>
        </h1>
    </div>
    <div class="cards">
        <div class="row">
            <div class="card card-backend">
                <div class="card__header">
                    <div class="card__icons">
                        <img
                            src="./assets/icons/services/server.svg"
                            alt="Icono de servidor"
                            draggable="false"
                            loading="lazy"
                            title="Ícono de servidor"
                            class="card__icon card__icon--filter"
                        />
                    </div>
                    <div class="card__titles">
                        <h2 class="card__title">
                            <span class="card__title--span">Desarrollo </span
                            >backend
                        </h2>
                    </div>
                </div>
                <div class="card__body">
                    <p class="card__text">
                        Desarrollo de aplicaciones web sólidas y seguras
                        utilizando Java y Spring Boot garantizando la robustez
                        de las aplicaciones mediante la implementación de
                        medidas de seguridad con Spring Security.
                    </p>
                </div>
            </div>

            <div class="card card-frontend">
                <div class="card__header">
                    <div class="card__icons">
                        <img
                            src="./assets/icons/services/angular.svg"
                            class="card__icon card__icon--filter card__icon--angular"
                            draggable="false"
                            loading="lazy"
                            alt="Icono de Angular"
                            title="Ícono de Angular"
                        />
                    </div>
                    <div class="card__titles">
                        <h2 class="card__title">
                            <span class="card__title--span">Desarrollo </span
                            >Frontend
                        </h2>
                    </div>
                </div>
                <div class="card__body">
                    <p class="card__text">
                        Creación de interfaces de usuario interactivas y
                        modernas utilizando Angular, con un enfoque en asegurar
                        una experiencia de usuario fluida y eficiente.
                    </p>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="row">
            <div class="card card-database">
                <div class="card__header">
                    <div class="card__icons">
                        <img
                            src="./assets/icons/services/database.svg"
                            draggable="false"
                            loading="lazy"
                            alt="Ícono de base de datos"
                            class="card__icon card__icon--filter"
                            title="Ícono de base de datos"
                        />
                    </div>
                    <div class="card__titles">
                        <h2 class="card__title">Modelado de base de datos</h2>
                    </div>
                </div>
                <div class="card__body">
                    <p class="card__text">
                        Modelado de bases de datos relacionales para optimizar
                        el rendimiento y la integridad de la información.
                    </p>
                </div>
            </div>

            <div class="card card-cloud">
                <div class="card__header">
                    <div class="card__icons">
                        <img
                            src="./assets/icons/services/cloud.svg"
                            draggable="false"
                            loading="lazy"
                            alt="Ícono nube"
                            title="Ícono nube"
                            class="card__icon card__icon--filter"
                        />
                    </div>
                    <div class="card__titles">
                        <h2 class="card__title">
                            <span class="card__title--span">Servicios </span
                            >cloud
                        </h2>
                    </div>
                </div>
                <div class="card__body">
                    <p class="card__text">
                        Diseño y despliegue de soluciones en la nube adaptadas a
                        las necesidades específicas de tu negocio.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="services box" id="services">
    <div class="services__titles">
        <h1 class="services__title">
            MIS SERVICIOS
            <span class="services__title services__title--dot">.</span>
        </h1>
    </div>
    <div class="cards">
        <div class="row">
            <div class="card card-backend">
                <div class="card__header">
                    <div class="card__icons">
                        <img
                            src="./assets/icons/services/server.svg"
                            alt="Icono de servidor"
                            draggable="false"
                            loading="lazy"
                            title="Ícono de servidor"
                            class="card__icon card__icon--filter"
                        />
                    </div>
                    <div class="card__titles">
                        <h2 class="card__title">
                            <span class="card__title--span">Desarrollo </span
                            >backend
                        </h2>
                    </div>
                </div>
                <div class="card__body">
                    <p class="card__text">
                        Desarrollo de aplicaciones web sólidas y seguras
                        utilizando Java y Spring Boot garantizando la robustez
                        de las aplicaciones mediante la implementación de
                        medidas de seguridad con Spring Security.
                    </p>
                </div>
            </div>

            <div class="card card-frontend">
                <div class="card__header">
                    <div class="card__icons">
                        <img
                            src="./assets/icons/services/angular.svg"
                            class="card__icon card__icon--filter card__icon--angular"
                            draggable="false"
                            loading="lazy"
                            alt="Icono de Angular"
                            title="Ícono de Angular"
                        />
                    </div>
                    <div class="card__titles">
                        <h2 class="card__title">
                            <span class="card__title--span">Desarrollo </span
                            >Frontend
                        </h2>
                    </div>
                </div>
                <div class="card__body">
                    <p class="card__text">
                        Creación de interfaces de usuario interactivas y
                        modernas utilizando Angular, con un enfoque en asegurar
                        una experiencia de usuario fluida y eficiente.
                    </p>
                </div>
            </div>
            <div class="card card-database">
                <div class="card__header">
                    <div class="card__icons">
                        <img
                            src="./assets/icons/services/database.svg"
                            draggable="false"
                            loading="lazy"
                            alt="Ícono de base de datos"
                            class="card__icon card__icon--filter"
                            title="Ícono de base de datos"
                        />
                    </div>
                    <div class="card__titles">
                        <h2 class="card__title">Modelado de base de datos</h2>
                    </div>
                </div>
                <div class="card__body">
                    <p class="card__text">
                        Modelado de bases de datos relacionales para optimizar
                        el rendimiento y la integridad de la información.
                    </p>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="row">
            <!-- <div class="card card-cloud">
                <div class="card__header">
                    <div class="card__icons">
                        <img
                            src="./assets/icons/services/cloud.svg"
                            draggable="false"
                            loading="lazy"
                            alt="Ícono nube"
                            title="Ícono nube"
                            class="card__icon card__icon--filter"
                        />
                    </div>
                    <div class="card__titles">
                        <h2 class="card__title">
                            <span class="card__title--span">Servicios </span
                            >cloud
                        </h2>
                    </div>
                </div>
                <div class="card__body">
                    <p class="card__text">
                        Diseño y despliegue de soluciones en la nube adaptadas a
                        las necesidades específicas de tu negocio.
                    </p>
                </div>
            </div> -->
        </div>
    </div>
</section>
