<section class="services box" id="services">
    <div class="services__titles">
        <h1 class="services__title">
            mis servicios
            <span class="services__title services__title--dot">.</span>
        </h1>
    </div>

    <div class="cards">
        <!-- Cruz central -->
        <div class="cross-lines"></div>

        <!-- 4 cards, 2x2 -->
        <div class="card card-backend">
            <div class="card__header">
                <div class="card__icons">
                    <img
                        src="./assets/icons/services/monitor.svg"
                        alt="Icono web"
                        draggable="false"
                        loading="lazy"
                        class="card__icon"
                    />
                </div>
                <div class="card__titles">
                    <h2 class="card__title">
                        <span class="card__title--span">Desarrollo </span>Web
                    </h2>
                </div>
            </div>
            <div class="card__body">
                <p class="card__text">
                    <!-- Desarrollo de sitios para plataformas Web. Te ayudo a
                    construir tu proyecto de principio a fin: Frontend, Backend
                    y Base de Datos. -->
                    Me especializo en desarrollo web para negocios, personas y
                    servicios que necesitan presencia digital como páginas de
                    presentación, portafolios, blogs, sitios corporativos, etc.
                </p>
            </div>
        </div>

        <div class="card card-frontend">
            <div class="card__header">
                <div class="card__icons">
                    <img
                        src="./assets/icons/services/smartphone.svg"
                        alt="Icono Angular"
                        draggable="false"
                        loading="lazy"
                        class="card__icon"
                    />
                </div>
                <div class="card__titles">
                    <h2 class="card__title">
                        <span class="card__title--span">Desarrollo </span>Movil
                    </h2>
                </div>
            </div>
            <div class="card__body">
                <p class="card__text">
                    Desarrollo aplicaciones móviles para plataformas Android e
                    iOS, enfocadas en contenido, catálogos, agendas o
                    notificaciones básicas.
                </p>
            </div>
        </div>

        <div class="card card-database">
            <div class="card__header">
                <div class="card__icons">
                    <img
                        src="./assets/icons/services/pallete-2-svgrepo-com.svg"
                        alt="Icono Base de Datos"
                        draggable="false"
                        loading="lazy"
                        class="card__icon card__icon--art"
                    />
                </div>
                <div class="card__titles">
                    <h2 class="card__title">Diseno de interfaces UI/UX</h2>
                </div>
            </div>
            <div class="card__body">
                <p class="card__text">
                    <!-- Modelado de bases de datos relacionales para optimizar el
                    rendimiento y la integridad de la información. -->
                    Diseño de interfaces atractivas y fáciles de usar, pensadas
                    para que las personas disfruten cada interacción.
                </p>
            </div>
        </div>

        <div class="card card-cloud">
            <div class="card__header">
                <div class="card__icons">
                    <img
                        src="./assets/icons/services/tool.svg"
                        alt="Icono móvil"
                        draggable="false"
                        loading="lazy"
                        class="card__icon"
                    />
                </div>
                <div class="card__titles">
                    <h2 class="card__title">
                        <span class="card__title--span">Soporte técnico </span>
                    </h2>
                </div>
            </div>
            <div class="card__body">
                <p class="card__text">
                    Mantenimiento a sitios webs o aplicaciones, reescritura de
                    código existente, mejoras sobre sistemas existentes, hosting
                    y despliegues. Todo esto exclusivamente de proyectos
                    desarrollados por mí.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- <section class="services box" id="services">
    <div class="services__titles">
        <h1 class="services__title">
            mis servicios
            <span class="services__title services__title--dot">.</span>
        </h1>
    </div>
    <div class="cards">
        <div class="cross-lines"></div>
        <div class="row">
            <div class="card card-backend">
                <div class="card__header">
                    <div class="card__icons">
                        <img
                            src="./assets/icons/services/monitor.svg"
                            alt="Icono de servidor"
                            draggable="false"
                            loading="lazy"
                            title="Ícono de servidor"
                            class="card__icon card__icon--filter"
                        />
                    </div>
                    <div class="card__titles">
                        <h2 class="card__title">
                            <span class="card__title--span">Desarrollo </span
                            >web
                        </h2>
                    </div>
                </div>
                <div class="card__body">
                    <p class="card__text">
                        Desarrollo sitios para plataformas Web. Te ayudo a
                        construir tu proyecto de principio a
                        fin: Frontend, Backend y Base de Datos.
                    </p>
                </div>
            </div>

            <div class="card card-frontend">
                <div class="card__header">
                    <div class="card__icons">
                        <img
                            src="./assets/icons/services/angular.svg"
                            class="card__icon card__icon--filter card__icon--angular"
                            draggable="false"
                            loading="lazy"
                            alt="Icono de Angular"
                            title="Ícono de Angular"
                        />
                    </div>
                    <div class="card__titles">
                        <h2 class="card__title">
                            <span class="card__title--span">Desarrollo </span
                            >Frontend
                        </h2>
                    </div>
                </div>
                <div class="card__body">
                    <p class="card__text">
                        Creación de interfaces de usuario interactivas y
                        modernas utilizando Angular, con un enfoque en asegurar
                        una experiencia de usuario fluida y eficiente.
                    </p>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="row">
            <div class="card card-database">
                <div class="card__header">
                    <div class="card__icons">
                        <img
                            src="./assets/icons/services/database.svg"
                            draggable="false"
                            loading="lazy"
                            alt="Ícono de base de datos"
                            class="card__icon card__icon--filter"
                            title="Ícono de base de datos"
                        />
                    </div>
                    <div class="card__titles">
                        <h2 class="card__title">Modelado de base de datos</h2>
                    </div>
                </div>
                <div class="card__body">
                    <p class="card__text">
                        Modelado de bases de datos relacionales para optimizar
                        el rendimiento y la integridad de la información.
                    </p>
                </div>
            </div>

            <div class="card card-cloud">
                <div class="card__header">
                    <div class="card__icons">
                        <img
                            src="./assets/icons/services/android.svg"
                            draggable="false"
                            loading="lazy"
                            alt="Ícono nube"
                            title="Ícono nube"
                            class="card__icon card__icon--filter"
                        />
                    </div>
                    <div class="card__titles">
                        <h2 class="card__title">
                            <span class="card__title--span"
                                >Desarrollo móvil</span
                            >
                        </h2>
                    </div>
                </div>
                <div class="card__body">
                    <p class="card__text">
                        Apasionado por diseñar y desarrollar aplicaciones
                        móviles Android que no solo resuelven problemas, sino
                        que también mejoran la experiencia del usuario.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- // text -->
<!-- Desarrollo de aplicaciones web sólidas y seguras
                        utilizando Java y Spring Boot garantizando la robustez
                        de las aplicaciones mediante la implementación de
                        medidas de seguridad con Spring Security. -->
