@use "../../../shared/scss/mixins" as m;

.box {
    height: auto;
    min-height: 850px;
    max-width: 100%;
    background-color: var(--grey-bg);
    min-width: 360px;
}

.services {
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    color: #fff;
}

.services__titles {
    margin-top: 4em;
}

.services__title {
    @include m.titleStyle(var(--medium-black));
    @media screen and (max-width: 800px) {
        text-align: center;
    }
}

.services__title--dot {
    font-size: 3rem;
    font-weight: 600;
    color: var(--primary-color);
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 800px) {
        flex-direction: row;
        justify-content: center;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    @media screen and (min-width: 800px) {
        width: 50%;
    }
}

.card__header {
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__icon {
    width: 30px;
    height: 30px;
}

.card__icon--filter {
    // filter: invert(1);
    color: var(--primary-color);
}

.card__title {
    font-size: 1.3rem;
    font-weight: 400;
    color: #0e0e0e;
    @media screen and (min-width: 800px) {
        font-size: 1.5rem;
    }
}

.card__text {
    font-size: 1rem;
    color: var(--light-black);
    // font-size: 1.2rem;
    font-weight: var(--fw-med);
    text-align: center;
    line-height: 1.5;
}
