<section class="experience box" id="experience">
    <div class="project__titles">
        <h1 class="project__title">
            proyectos / ejemplos
            <span class="project__title services__title--dot">.</span>
        </h1>
    </div>

    <div class="grid">
        <div class="item">
            <img src="./assets/images/projects/portfolio-1.jpg" alt="" />
            <span>Texto 1</span>
        </div>
        <div class="item">
            <img src="./assets/images/projects/portfolio-1.jpg" alt="" />
            <span>Texto 2</span>
        </div>
        <div class="item">
            <img src="./assets/images/projects/portfolio-1.jpg" alt="" />
            <span>Texto 3</span>
        </div>
        <div class="item">
            <img src="./assets/images/projects/portfolio-1.jpg" alt="" />
            <span>Texto 4</span>
        </div>
        <div class="item">
            <img src="./assets/images/projects/portfolio-1.jpg" alt="" />
            <span>Texto 5</span>
        </div>
        <div class="item">
            <img src="./assets/images/projects/portfolio-1.jpg" alt="" />
            <span>Texto 6</span>
        </div>
    </div>
</section>
