<!-- <section class="experience box" id="project">
    <div class="project__titles">
        <h1 class="project__title">
            mis proyectos / mis diseños
            <span class="project__title services__title--dot">.</span>
        </h1>
    </div>

    <div class="grid">
        <div class="item">
            <img src="./assets/images/examples/cafe_pabarca.png" alt="" />
            <span>Texto 1</span>
        </div>
        <div class="item">
            <a href="">
                <img src="./assets/images/examples/barber_pabarca.png" alt="" />
            </a>

            <span>Texto 2</span>
        </div>
        <div class="item">
            <img src="./assets/images/examples/cabanas_pabarca.png" alt="" />
            <span>Texto 3</span>
        </div>
        <div class="item">
            <img src="./assets/images/examples/nails_pabarca.png" alt="" />
            <span>Texto 4</span>
        </div>
        <div class="item">
            <img src="./assets/images/examples/jam_pabarca.png" alt="" />
            <span>Texto 5</span>
        </div>
        <div class="item">
            <img src="./assets/images/examples/abogado_pabarca.png" alt="" />
            <span>Texto 6</span>
        </div>
    </div>
</section> -->

<section class="experience box" id="project">
    <div class="project__titles">
        <h1 class="project__title">
            mis proyectos / mis diseños
            <span class="project__title services__title--dot">.</span>
        </h1>
    </div>

    <div class="grid">
        <a href="/proyectos/cafe-pabarca" class="item">
            <img
                src="./assets/images/examples/cafe_pabarca.png"
                alt="Proyecto Café Pabarca"
            />
            <span>VER</span>
        </a>

        <a href="/proyectos/barber-pabarca" class="item">
            <img
                src="./assets/images/examples/barber_pabarca.png"
                alt="Proyecto Barber Pabarca"
            />
            <span>VER</span>
        </a>

        <a href="/proyectos/cabanas-pabarca" class="item">
            <img
                src="./assets/images/examples/cabanas_pabarca.png"
                alt="Proyecto Cabañas Pabarca"
            />
            <span>VER</span>
        </a>

        <a href="/proyectos/nails-pabarca" class="item">
            <img
                src="./assets/images/examples/nails_pabarca.png"
                alt="Proyecto Nails Pabarca"
            />
            <span>VER</span>
        </a>

        <a href="/proyectos/jam-pabarca" class="item">
            <img
                src="./assets/images/examples/jam_pabarca.png"
                alt="Proyecto Jam Pabarca"
            />
            <span>VER</span>
        </a>

        <a href="/proyectos/abogado-pabarca" class="item">
            <img
                src="./assets/images/examples/abogado_pabarca.png"
                alt="Proyecto Abogado Pabarca"
            />
            <span>VER</span>
        </a>
    </div>
</section>
