.box {
    min-height: 100vh;
    background-image: url("/assets/images/hero/hero2.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-width: var(--min-width-size);
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 4em;
    align-items: center;
    justify-content: center;
    padding: 1em;
    padding-top: 4em;
}

/**TITLES*/
.hero__texts {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.hero__titles {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2em;

    font-family: "Zen Kaku Gothic New", sans-serif;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px); /* Ajusta el desplazamiento inicial */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.hero__title {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 3px 11px rgba(0, 0, 0, 0.3);
    font-size: 8vw;
    font-size: 3.5rem;
    color: var(--white-bg);
    // font-family: "Roboto", sans-serif;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 300;
    opacity: 0; /* Inicialmente oculto */
    transform: translateY(30px); /* Inicialmente desplazado */
    animation: fadeInUp 1s ease-out forwards;
    background-color: #000;
    padding: 0.1em;
    padding-left: 2em;
    padding-right: 2em;
}

.hero__subtitle {
    text-align: center;
    // font-size: 1.1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--white-bg);

    font-family: "Zen Kaku Gothic New", sans-serif;
    opacity: 0; /* Inicialmente oculto */
    transform: translateY(30px); /* Inicialmente desplazado */
    animation: fadeInUp 1s ease-out forwards;
    color: black;
}

/**DESCRIPTION*/

.hero__content {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.hero__description {
    max-width: 600px;
    line-height: 2;
    text-align: center;
    color: var(--white-bg);
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;
}

/**HERO ICONS*/
.hero__icons {
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: center;
}

.hero__button-img {
    width: 50px;
    height: 50px;
}

.resume__button-img--github {
    filter: invert(1);
}

.hero__button-img--lk {
    width: 63px;
    height: 63px;
}

.hero__ref {
    text-align: center;
}

.hero__arrow {
    filter: invert(1);
    width: 23px;
    height: 23px;
}

/**DESKTOP HERO*/
@media screen and (min-width: 800px) {
    .hero__subtitle {
        opacity: 1;
    }

    .hero__subtitle--visible {
        opacity: 1;
        transition: 1s ease-in-out all;
    }
}
