<section class="contact" id="contact">
    <!-- <div class="contact__titles">
        <h1 class="contact__title">CONTACTO <span class="contact__title contact__title--dot">.</span></h1>
    </div> -->

    <div class="touch">
        <div class="touch__header">
            <img class="touch__icon" src="./assets/icons/contact/email.svg" alt="Email icon">
        </div>
        <div class="touch__body">
            <div class="touch__texts">
                <h2 class="touch__title">CONTACTAME!</h2>
                <p class="touch__text">Escribeme a mi correo y hablemos sobre tus proyectos y necesidades.</p>
            </div>
            <div class="touch__buttons">
                <a class="touch__button" href="mailto:patricioabarca88@gmail.com" target="_blank">CONTACTAR</a>
                <button class="touch__button" (click)="onCopyEmail()">
                    <img class="touch__clipboard" src="./assets/icons/contact/clipboard.svg" alt=""
                        (click)="onCopyEmail()">
                </button>
            </div>
        </div>

    </div>

</section>