<footer class="footer">
    <!-- <div class="icons">

                <a href="https://github.com/patosinsuerte" class="link__icon" draggable="false"><img
                                class="icon__svg icon__svg--github" src="./assets/icons/hero/github.svg"
                                alt="Github logo" title="Github logo" draggable="false" loading="lazy"></a>


                <a href="https://github.com/patosinsuerte" draggable="false" class="link__icon"><img
                                class="icon__svg icon__svg--lk" src="./assets/icons/hero/linkedn.svg" alt="Linkdn logo"
                                title="Linkdn logo" draggable="false" loading="lazy"></a>


                <a href="https://t.me/pabarca" draggable="false" class="link__icon"><img
                                class="icon__svg icon__svg--telegram" src="./assets/icons/footer/telegram.svg"
                                alt="Telegram logo" title="Telegram logo" draggable="false" loading="lazy"></a>

        </div> -->
</footer>
