<section class="box about" id="about">
    <article class="information">
        <div class="information__texts">
            <div class="information__titles">
                <div class="about__title">
                    <h1 class="about__title-text">
                        acerca de mí
                        <span
                            class="about__title-text about__title-text--secondary"
                            >.</span
                        >
                    </h1>
                </div>
                <div class="information__body">
                    <h2 class="information__title">
                        Hola, soy<span
                            class="information__title information__title--secondary"
                        >
                            Patricio.</span
                        >
                    </h2>
                </div>
            </div>
            <div class="information__description">
                <div class="information__description-container">
                    <p class="information__description-text">
                        Periodista de formación académica, hace un poco mas de
                        un año decidí convertirme en programador a a partir de
                        dos oportunidades que tuve: una beca proporcionada por
                        fundación Forge que obtuve para estudiar desarrollo
                        backend con Java en Coding Dojo y la beca de Oracle Next
                        Education para estudiar desarrollo web con Java.
                    </p>
                    <p class="information__description-text">
                        Me considero una persona muy organizada, con gan
                        capacidad de aprendizaje y con un buen desarrollo de
                        habilidades blandas como la comunicación, la empatía y
                        la resiliencia. Sin embargo, creo que lo que más me
                        destaca es mi compromiso personal de seguir creciendo.
                    </p>
                </div>
                <div class="information__description-buttons">
                    <button
                        class="information__description-button"
                        aria-label="Ver curriculúm"
                    >
                        Ver servicios y condiciones (PDF)
                    </button>
                </div>
            </div>
        </div>
        <div class="information__images">
            <img
                class="information__image"
                src="./assets/images/about/profile-blanco-negro.png"
                alt="Foto de perfíl"
                title="Foto de perfíl"
                draggable="false"
                loading="lazy"
            />

            <!-- <div class="icons">
                <div class="icon__container">
                    <a
                        href="https://github.com/patosinsuerte"
                        target="_blank"
                        draggable="false"
                    >
                        <img
                            class="icon__svg icon__svg--lk"
                            src="./assets/icons/hero/linkedin-svgrepo-com.svg"
                            draggable="false"
                            loading="lazy"
                            alt="Linkdn logo"
                            title="Linkdn logo"
                        />
                    </a>
                </div>
                <div class="icon__container">
                    <a
                        href="https://github.com/patosinsuerte"
                        target="_blank"
                        draggable="false"
                    >
                        <img
                            class="icon__svg"
                            src="./assets/icons/hero/github-142-svgrepo-com.svg"
                            draggable="false"
                            loading="lazy"
                            alt="Github logo"
                            title="Github logo"
                    /></a>
                </div>
            </div> -->
        </div>
    </article>
</section>
