@use "../../../shared/scss/mixins" as m;

.box {
    height: auto;
    // min-height: 780px;
    min-height: 500px;
    max-width: 100%;
    padding: var(--em-normal);
    min-width: var(--min-width-size);
}

// MOBILE FIRST

//* main container - contain  main title and body

.about {
    display: flex;
    flex-direction: column;
    gap: var(--em-big);
    padding-top: var(--em-ultra);
    padding-left: var(--em-big);
    padding-right: var(--em-big);
    background-color: var(--white-bg);
}

.about__title-text {
    // @include m.titleStyle(var(--medium-black));
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 800;
    font-size: 2.2rem;
    color: #000;
    @media screen and (max-width: 800px) {
        text-align: center;
    }
}

//* utility classes
.about__title-text--secondary {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 800;
    font-size: 4rem;
    color: #000;
}

//* MAIN BODY -> CONTAIN TWO DIV'S -> INFORMATION TEXT AND PHOTO CONTAINER

.information {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 2em;
    @media screen and (min-width: 800px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

//* INFORMATION TEXT -> CONTAIN TWO DIV'S -> INFORMATION TITLES AND INFORMATION BODY
.information__texts {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

//*information titles

.information__titles {
    display: flex;
    flex-direction: column;
    gap: var(--em-big);
}

// font
.information__title {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    color: #000;
}

.information__body {
    display: flex;
    flex-direction: column;
    gap: var(--em-normal);
}

//*information description -> contain information__description-container AND information__description-buttons
.information__description {
    display: flex;
    flex-direction: column;
    gap: var(--em-medium);
}

.information__description-container {
    display: flex;
    flex-direction: column;
    gap: var(--em-medium);
}

.information__description-text {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: #000;
    line-height: 1.5;
    max-width: 650px;
}

.information__description-buttons {
    display: flex;
    justify-content: center;
    @media screen and (min-width: 800px) {
        justify-content: flex-start;
    }
}

.information__description-button {
    padding: 0.8em;
    width: 250px;
    background-color: #000;
    border: none;
    outline: none;
    border-radius: 5px;
    color: var(--white-bg);
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 800;
    font-size: 0.9em;

    cursor: pointer;
    @media screen and (min-width: 800px) {
        &:hover {
            cursor: pointer;
            background-color: #222;
        }
    }
}

//* photo container

.information__images {
    display: flex;
    gap: 3em;
    justify-content: center;
    flex-direction: column;
    @media screen and (max-width: 800px) {
        align-items: center;
    }
}

.information__image {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    pointer-events: none;
    cursor-webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Opera */
    @media screen and (min-width: 900px) {
        width: 320px;
        height: 320px;
    }
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.icon__svg {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.icon__svg--lk {
    width: 50px;
    height: 50px;
}
