<section class="projects" id="projects">
    <div class="projects__titles">
        <h2 class="projects__title">
            PROYECTOS<span class="projects__title projects__title--dot">.</span>
        </h2>
    </div>

    <section class="gallery">
        <article class="card">
            <div class="card__header">
                <img
                    src="./assets/images/projects/pulso.png"
                    alt="imagen"
                    draggable="false"
                    loading="lazy"
                />
            </div>
            <div class="card__body">
                <div class="card__texts">
                    <h2 class="card__title">Pulso</h2>
                    <p class="card__text">
                        Pulso es una aplicacion desarrollada con el objetivo de
                        ayudar a las personas a mantener un orden financiero
                        gestionando servicios que funcionan con suscripciones.
                    </p>
                </div>
                <div class="techs">
                    <div class="techs-container techs-container--java">
                        <img
                            class="techs"
                            src="./assets/icons/tech-icons/flutter.svg"
                            alt="Java"
                            draggable="false"
                            loading="lazy"
                        />
                    </div>
                    <div class="techs-container techs-container--postgresql">
                        <img
                            class="techs"
                            src="./assets/icons/tech-icons/mysqll.svg"
                            alt="postgresql icon"
                            draggable="false"
                            loading="lazy"
                        />
                    </div>
                    <div class="techs-container techs-container--angular">
                        <img
                            class="techs"
                            src="./assets/icons/tech-icons/angular.svg"
                            alt="Angular icon"
                            draggable="false"
                            loading="lazy"
                        />
                    </div>
                </div>
                <div class="card__buttons">
                    <a
                        href="https://getpulso.vercel.app/home"
                        class="card__button"
                        target="_blank"
                        >VER WEB</a
                    >
                </div>
            </div>
        </article>

        <article class="card">
            <div class="card__header">
                <img
                    src="./assets/images/projects/codigo-chileno.png"
                    alt="imagen"
                    draggable="false"
                    loading="lazy"
                />
            </div>
            <div class="card__body">
                <div class="card__texts">
                    <h2 class="card__title">Codigo Chileno</h2>
                    <p class="card__text">
                        Blog dedicado a chilenos que permite a los usuarios
                        escribir y compartir artículos con información en temas
                        de migración y programación en el extranjero.
                    </p>
                </div>
                <div class="techs">
                    <div class="techs-container techs-container--java">
                        <img
                            class="techs"
                            src="./assets/icons/tech-icons/spring.svg"
                            alt="Java"
                            draggable="false"
                            loading="lazy"
                        />
                    </div>
                    <div class="techs-container techs-container--postgresql">
                        <img
                            class="techs"
                            src="./assets/icons/tech-icons/postgresql.svg"
                            alt="postgresql icon"
                            draggable="false"
                            loading="lazy"
                        />
                    </div>
                    <div class="techs-container techs-container--angular">
                        <img
                            class="techs"
                            src="./assets/icons/tech-icons/angular.svg"
                            alt="Angular icon"
                            draggable="false"
                            loading="lazy"
                        />
                    </div>
                </div>
                <div class="card__buttons">
                    <a href="" class="card__button">VER WEB</a>
                </div>
            </div>
        </article>
    </section>
</section>
<shared-more></shared-more>
