<section class="projects" id="projects">

    <div class="projects__titles">
        <h2 class="projects__title">PROYECTOS<span class="projects__title projects__title--dot">.</span></h2>
    </div>

    <section class="gallery">

        <article class="card">
            <div class="card__header">
                <img src="./assets/images/projects/esquinaPetProject.webp" alt="imagen">
            </div>
            <div class="card__body">
                <div class="card__texts">
                    <h2 class="card__title">Esquina Pet</h2>
                    <p class="card__text">Aplicacion web de reserva de citas veterinarias para la veterinaria Esquina
                        Pet.</p>
                </div>
                <div class="techs">
                    <div class="techs-container techs-container--java">
                        <img class="techs" src="./assets/icons/tech-icons/spring.svg" alt="Java">
                    </div>
                    <div class="techs-container techs-container--postgresql">
                        <img class="techs" src="./assets/icons/tech-icons/postgresql.svg" alt="postgresql icon">
                    </div>
                    <div class="techs-container techs-container--angular">
                        <img class="techs" src="./assets/icons/tech-icons/angular.svg" alt="Angular icon">
                    </div>
                </div>
                <div class="card__buttons">
                    <a href="#" class="card__button">VER CODIGO</a>
                    <a href="#" class="card__button">VER WEB</a>
                    <!-- <button class="card__button" (click)="onToggleMoreMenu({
                        title: 'Esquina Pet',
                        subtitle: 'Reserva de horas medicas veterinarias',
                        img: './assets/images/projects/esquinaPetProject.webp',
                        altText: 'Esquina Pet',
                        text: 'Sistema construido en Spring boot, Postgresql, Angular',
                        demoHref: '#',
                        repoHref: '#',
                        showLinks: true,
                        showClose: true
                    })">VER MAS</button> -->
                </div>

            </div>
        </article>

        <!-- <article class="card">
            <div class="card__header">
                <img src="./assets/images/projects/gato2.jpg" alt="imagen">
            </div>
            <div class="card__body">
                <div class="card__texts">
                    <h2 class="card__title">Grabadora de voz </h2>
                    <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, at nisi
                    </p>
                </div>
                <div class="card__buttons">
                    <button class="card__button">VER MAS</button>
                </div>

            </div>
        </article>


        <article class="card">
            <div class="card__header">
                <img src="./assets/images/projects/gato3.jpg" alt="imagen">
            </div>
            <div class="card__body">
                <div class="card__texts">
                    <h2 class="card__title">TITULO</h2>
                    <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, at nisi
                    </p>
                </div>
                <div class="card__buttons">
                    <button class="card__button">VER MAS</button>
                </div>

            </div>
        </article>


        <article class="card">
            <div class="card__header">
                <img src="./assets/images/projects/gato4.jpg" alt="imagen">
            </div>
            <div class="card__body">
                <div class="card__texts">
                    <h2 class="card__title">TITULO</h2>
                    <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, at nisi
                    </p>
                </div>
                <div class="card__buttons">
                    <button class="card__button">VER MAS</button>
                </div>

            </div>
        </article>



        <article class="card">
            <div class="card__header">
                <img src="./assets/images/projects/gato5.jpg" alt="imagen">
            </div>
            <div class="card__body">
                <div class="card__texts">
                    <h2 class="card__title">TITULO</h2>
                    <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, at nisi
                    </p>
                </div>
                <div class="card__buttons">
                    <button class="card__button">VER MAS</button>
                </div>

            </div>
        </article>



        <article class="card">
            <div class="card__header">
                <img src="./assets/images/projects/gato5.jpg" alt="imagen">
            </div>
            <div class="card__body">
                <div class="card__texts">
                    <h2 class="card__title">TITULO</h2>
                    <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, at nisi
                    </p>
                </div>
                <div class="card__buttons">
                    <button class="card__button" (click)="onToggleMoreMenu({  
                    title: 'Oracle / Alura',
                    subtitle: 'Programa Oracle Next Education',
                    img: './assets/images/more/certificado-alura.webp',
                    altText: 'Certificado de Oracle Next Education',
                    text: 'ONE es un programa de educación, y empleabilidad con el objetivo social de capacitar personas en tecnología y conectarlas con el mercado de trabajo a través de las empresas asociadas.',
                    demoHref: '#',
                    repoHref: '#',
                    showLinks: true,
                    showClose: true
                })">VER MAS</button>
                </div>

            </div>
        </article> -->




    </section>
</section>
<shared-more></shared-more>