<section class="experience box" id="experience">
    <div class="experience__titles">
        <h1 class="experience__title">EXPERIENCIA <span class="experience__title experience__title--dot">.</span></h1>
        <div class="experience__subtitles">
            <p class="experience__subtitle">He estado aprendiendo y explorando el desarrollo web durante el último año
                y
                estoy
                siempre motivado para
                profundizar mis conocimientos en esta industria.</p>
        </div>

    </div>

    <div class="container">
        <div class="technologies">
            <div class="technologies__titles">
                <!-- <h2 class="technologies__title">TECNOLOGIAS</h2> -->
            </div>
            <div class="technologies__icons">
                <div class="technologies__group">

                    <div class="technologies__icon-container technologies__icon-container--java">
                        <img class="technologies__icon" src="./assets/icons/tech-icons/spring.svg"
                            alt="Ícono de Spring Boot" title="Ícono de Spring Boot" draggable="false" loading="lazy">
                    </div>
                    <div class="technologies__icon-container technologies__icon-container--postgresql">
                        <img class="technologies__icon" src="./assets/icons/tech-icons/postgresql.svg"
                            alt="postgresql icon" draggable="false" loading="lazy">
                    </div>
                    <div class="technologies__icon-container technologies__icon-container--angular">
                        <img class="technologies__icon" src="./assets/icons/tech-icons/angular.svg"
                            alt="Ícono de Angular" title="Ícono de Angular" draggable="false" loading="lazy">
                    </div>
                </div>

                <div class="technologies__group">

                    <div class="technologies__icon-container technologies__icon-container--docker">
                        <img class="technologies__icon" src="./assets/icons/tech-icons/docker.svg" draggable="false"
                            loading="lazy" alt="Ícono de Docker" title="Ícono de Docker">
                    </div>

                    <div class="technologies__icon-container technologies__icon-container--git">
                        <img class="technologies__icon" src="./assets/icons/tech-icons/git.svg" draggable="false"
                            loading="lazy" alt="Ícono de Git" title="Ícono de Git">
                    </div>

                    <div class="technologies__icon-container technologies__icon-container--cassandra">
                        <img class="technologies__icon" src="./assets/icons/tech-icons/cassandra.svg"
                            alt="Ícono de Cassandra" title="Ícono de Cassandra" draggable="false" loading="lazy">

                    </div>
                    <div class="technologies__icon-container technologies__icon-container--linux">
                        <img class="technologies__icon" src="./assets/icons/tech-icons/linux.svg" alt="Ícono de Linux"
                            title="Ícono de Linux" draggable="false" loading="lazy">
                    </div>

                </div>

            </div>
        </div>
        <div class="timeline-container">

            <div class="timeline__center-line">
            </div>
            <!--1-->
            <div class="row row--one">
                <section class="timeline__cards"> <!--section-->
                    <div class="time__line-icon-container time__line-icon-container--one">
                        <img class="time__line-icon" src="./assets/icons/experience/graduado.svg"
                            alt="Ícono de sobrero de graduación" title="Ícono de sobrero de graduación"
                            draggable="false" loading="lazy">
                    </div>

                    <div class="timeline-card"> <!--card - details-->
                        <div class="timeline-card__header">
                            <div class="timeline-card__titles">
                                <h2 class="timeline-card__title">Coding Dojo / Forge Foundation</h2>
                                <p class="timeline-card__time">Sep 2023</p>
                            </div>
                            <div class="timeline-card__subtitles">
                                <p class="timeline-card__subtitle">Desarrollo backend con Java</p>
                            </div>
                        </div>

                        <div class="timeline-card__texts">
                            <p>Graduado de la beca: "Programa tu futuro + Java" de fundacion Forge en colaboracion con
                                Coding Dojo.</p>
                            <div class="timeline-card__buttons">
                                <button class="timeline-card__button" aria-label="Ver más" (click)="onToggleMoreMenu({
                                    title: 'Coding Dojo/ Forge Foundation',
                                    subtitle: 'Programa tu futuro + Java',
                                    img: './assets/images/more/certificado-coding-dojo.webp',
                                    altText: 'Certificado de Coding Dojo',
                                    text: 'El Programa “Tu Futuro + Java Full/Stack”, busca preparar a nuevos talentos para carreras en tecnología, posibilitando que jóvenes económicamente vulnerables puedan acceder a una vida de calidad a través de un buen trabajo y el aprendizaje continuo.',
                                    showLinks: false,
                                    showClose: true
                                })">VER
                                    MAS</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>



            <div class="row row--two">
                <div class="timeline__cards">
                    <div class="time__line-icon-container time__line-icon-container--two">
                        <img class="time__line-icon" src="./assets/icons/experience/graduado.svg"
                            alt="Ícono de sobrero de graduación" title="Ícono de sobrero de graduación"
                            draggable="false" loading="lazy">
                    </div>
                    <div class="timeline-card">
                        <div class="timeline-card__header">
                            <div class="timeline-card__titles">
                                <h2 class="timeline-card__title">Oracle Next Eduaction</h2>
                                <p class="timeline-card__time">Sep 2023</p>
                            </div>
                            <div class="timeline-card__subtitles">
                                <p class="timeline-card__subtitle">Desarrollo web con Java</p>
                            </div>
                        </div>
                        <div class="timeline-card__texts">
                            <p>Graduado del programa "Oracle Next Education" impartido por Oracle en colaboracion con
                                Alura.</p>
                            <div class="timeline-card__buttons">
                                <button class="timeline-card__button" aria-label="Ver más" (click)="onToggleMoreMenu({
                                    title: 'Oracle / Alura',
                                    subtitle: 'Programa Oracle Next Education',
                                    img: './assets/images/more/certificado-alura.webp',
                                    altText: 'Certificado de Oracle Next Education',
                                    text: 'ONE es un programa de educación, y empleabilidad con el objetivo social de capacitar personas en tecnología y conectarlas con el mercado de trabajo a través de las empresas asociadas.',
                                    showLinks: false,
                                    showClose: true
                                })">VER
                                    MAS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row row--three">
                <div class="timeline__cards">
                    <div class="time__line-icon-container time__line-icon-container--three">
                        <img class="time__line-icon" src="./assets/icons/experience/maletin2.svg"
                            alt="Ícono de sobrero de maletín" title="Ícono de sobrero de maletín" draggable="false"
                            loading="lazy">
                    </div>
                    <div class="timeline-card">
                        <div class="timeline-card__header">
                            <div class="timeline-card__titles">
                                <h2 class="timeline-card__title">Comienzo como Freelance</h2>
                                <p class="timeline-card__time">Ago. 2024</p>
                            </div>
                            <div class="timeline-card__subtitles">
                                <p class="timeline-card__subtitle">Soluciones de desarrollo web personalizadas</p>
                            </div>
                        </div>
                        <div class="timeline-card__texts">
                            <p>Decidí comenzar mi carrera como freelance en el desarrollo de
                                aplicaciones web ofreciendo soluciones personalizadas.</p>
                            <div class="timeline-card__buttons">
                                <button class="timeline-card__button" aria-label="Ver más" (click)="onToggleMoreMenu({
                                    title: 'Desarrollador Freelance',
                                    subtitle: 'Especializado en Desarrollo Web a Medida',
                                    img: null,
                                    altText: null,
                                    text: 'Desde agosto de 2024, he comenzado mi carrera como desarrollador freelance en el campo del desarrollo de aplicaciones web y estoy disponible para aplicar todo mi conocimiento en ayudar a los emprendedores y empresas a transformar sus ideas en soluciones digitales funcionales y atractivas.',
                                    showLinks: false,
                                    showClose: true
                                })">VER
                                    MAS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<shared-more></shared-more>