.box {
    padding: 3em;
}

.contact__titles {
    margin-bottom: 5em;
}

.contact__title {
    color: #000;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 800;
    font-size: 2em;
    @media screen and (max-width: 800px) {
        text-align: center;
    }
}

.cards {
    display: flex;
    justify-content: space-around;
}

.email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
}

.email__image {
    width: 40px;
    height: 40px;
}

.email__clipboard {
    width: 40px;
    height: 40px;
}
