<section class="contact box" id="contact">
    <div class="contact__titles">
        <h1 class="contact__title">
            contacto
            <span class="contact__title contact__title--dot">.</span>
        </h1>
    </div>

    <div class="cards">
        <div class="email">
            <img
                class="email__image"
                src="./assets/icons/contact/email.svg"
                alt=""
            />
            <div class="email__texts">
                <p>hoa.patricioabarca@gmail.com</p>
                <div class="email__contact">
                    <a
                        class="email__link"
                        href="mailto:hola.patricioabarca@gmail.com"
                        target="_blank"
                        >CONTACTAR</a
                    >
                </div>
            </div>
        </div>
        <div class="card">
            <img
                class="email__image"
                src="./assets/icons/contact/globe.svg"
                alt=""
            />
            <div class="card__texts">Redes</div>

            <div class="icons">
                <div class="icon__container">
                    <a
                        href="https://github.com/patosinsuerte"
                        target="_blank"
                        draggable="false"
                    >
                        <img
                            class="icon__svg icon__svg--lk"
                            src="./assets/icons/hero/linkedin-svgrepo-com.svg"
                            draggable="false"
                            loading="lazy"
                            alt="Linkdn logo"
                            title="Linkdn logo"
                        />
                    </a>
                </div>
                <div class="icon__container">
                    <a
                        href="https://github.com/patosinsuerte"
                        target="_blank"
                        draggable="false"
                    >
                        <img
                            class="icon__svg"
                            src="./assets/icons/hero/github-142-svgrepo-com.svg"
                            draggable="false"
                            loading="lazy"
                            alt="Github logo"
                            title="Github logo"
                    /></a>
                </div>
                <div class="icon__container">
                    <a
                        href="https://github.com/patosinsuerte"
                        target="_blank"
                        draggable="false"
                    >
                        <img
                            class="icon__svg icon__svg--ig"
                            src="./assets/icons/contact/instagram.svg"
                            draggable="false"
                            loading="lazy"
                            alt="Linkdn logo"
                            title="Linkdn logo"
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
