<section class="contact box" id="contact">
    <div class="contact__titles">
        <h1 class="contact__title">
            contacto
            <span class="contact__title contact__title--dot">.</span>
        </h1>
    </div>

    <div class="cards">
        <div class="email">
            <img
                class="email__image"
                src="./assets/icons/contact/email.svg"
                alt=""
            />
            <div class="email__texts">
                <p>Email</p>
                <button class="email-button">
                    <img
                        class="email__clipboard"
                        src="./assets/icons/contact/clipboard.svg"
                        alt=""
                    />
                </button>
            </div>
        </div>
        <div class="card">
            <h1>ICON</h1>
            <div class="card__texts">
                <p>Email</p>
            </div>
        </div>
    </div>
</section>
